* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    background-color: #d9e8ef;
    margin: 0;
}

.wrapper {
    margin: 10px;
}

table, form {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #bdcbd3;
    margin: 10px auto;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px 15px;
    line-height: 1.5;
}

.students-list {
    border-bottom: 1px solid #d9e8ef;
}

.students-list:last-of-type {
    border-bottom: none;
}

table td:last-child {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem; 
}

th {
    text-align: left;
    font-weight: bold;
}

thead tr:first-of-type {
    font-size: 1.2rem;    
}

tr td:first-child {
    padding-right: 0;
}

img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;    
}

.header {
    background-color: #f1f8fb;    
    color: #809fb3; 
}

.header-heading {
    text-align: end;
}